.card {
  background-color: #202020;
}

.card__link:hover {
  cursor: pointer;
}

.card__image {
  display: block;
  width: 100%;
  height: 151px;
  object-fit: cover;
  object-position: center;
  margin: 0 0 14px 0;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;
  padding: 0 0 13px 0;
}

.card__title {
  max-width: 226px;
  height: 32px;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #FFF;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
}

.card__button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #313131;
  background-image: url(../../images/heart-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__button_type_saved {
  background-image: url(../../images/heart-icon-active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__button_type_delete {
  background-image: url(../../images/delete-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__duration {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #8B8B8B;
  margin: 0;
  margin: 6px 0 0 0;
}

@media screen and (max-width: 768px) {
  .card__image {
    height: 190px;
  }

  .card__title {
    max-width: 295px;
  }
}

@media screen and (max-width: 420px) {
  .card__image {
    height: 168px;
    margin: 0 0 15px 0;
  }

  .card__wrapper {
    padding: 0 0 14px 0;
  }

  .card__title {
    max-width: 240px;
    height: 30px;
    font-size: 12px;
    line-height: 15px;
  }

  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}